function Background.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
return
function Background.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Background.drawTable 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 25
push constant 0
push constant 25
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 487
push constant 0
push constant 487
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 25
push constant 0
push constant 487
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 25
push constant 255
push constant 487
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
return
