function Game.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 5
pop this 3
push argument 0
pop this 0
push constant 0
pop this 1
push constant 1000
pop this 4
push this 3
call Array.new 1
pop this 2
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Game.increaseDifficulty 1
pop temp 0
label IF_FALSE0
label WHILE_EXP0
push this 1
push this 3
lt
not
if-goto WHILE_END0
push this 1
push this 2
add
push pointer 0
call Game.calcNextElement 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 1
push pointer 0
return
function Game.calcNextElement 1
push argument 0
pop pointer 0
push this 0
pop local 0
push this 0
push constant 23
call Math.multiply 2
pop local 0
push local 0
push constant 3
add
pop this 0
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 1
neg
call Math.multiply 2
push constant 1
sub
pop this 0
label IF_FALSE0
label WHILE_EXP0
push this 0
push this 4
gt
not
if-goto WHILE_END0
push this 0
push this 4
call Math.divide 2
pop this 0
push this 0
push constant 1
add
pop this 0
goto WHILE_EXP0
label WHILE_END0
push this 0
return
function Game.increaseDifficulty 0
push argument 0
pop pointer 0
push this 4
push constant 31
call Math.multiply 2
push constant 5
add
pop this 4
push constant 0
return
function Game.getElement 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function Game.getNextElement 1
push argument 0
pop pointer 0
push this 1
push this 2
add
pop pointer 1
push that 0
pop local 0
push this 1
push constant 1
add
pop this 1
push local 0
return
function Game.getIndex 0
push argument 0
pop pointer 0
push this 1
return
function Game.setIndex 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Game.getArraySize 0
push argument 0
pop pointer 0
push constant 5
return
function Game.eraseArray 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function Game.displayElement 0
push argument 0
pop pointer 0
push constant 2
push constant 17
call Output.moveCursor 2
pop temp 0
push pointer 0
call Game.getNextElement 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
