function Simon.drawSimon 0
push argument 0
pop pointer 0
push constant 75
push constant 75
push constant 25
call Screen.drawCircle 3
pop temp 0
push constant 75
push constant 100
push constant 75
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 75
push constant 150
push constant 60
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 75
push constant 150
push constant 90
push constant 170
call Screen.drawLine 4
pop temp 0
push constant 75
push constant 125
push constant 60
push constant 115
call Screen.drawLine 4
pop temp 0
push constant 75
push constant 125
push constant 90
push constant 115
call Screen.drawLine 4
pop temp 0
push pointer 0
call Simon.drawThought 1
pop temp 0
push constant 0
return
function Simon.drawThought 0
push argument 0
pop pointer 0
push constant 105
push constant 50
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 115
push constant 40
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 130
push constant 10
push constant 210
push constant 10
call Screen.drawLine 4
pop temp 0
push constant 130
push constant 40
push constant 210
push constant 40
call Screen.drawLine 4
pop temp 0
push constant 130
push constant 10
push constant 130
push constant 40
call Screen.drawLine 4
pop temp 0
push constant 210
push constant 10
push constant 210
push constant 40
call Screen.drawLine 4
pop temp 0
push constant 0
return
