function Pill.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 8
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Pill.draw 0
push argument 0
pop pointer 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
label IF_FALSE0
push constant 0
return
function Pill.erase 0
push argument 0
pop pointer 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
not
pop this 3
label IF_FALSE0
push constant 0
return
function Pill.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Pill.getX 0
push argument 0
pop pointer 0
push this 0
return
function Pill.getY 0
push argument 0
pop pointer 0
push this 1
return
function Pill.getRadius 0
push argument 0
pop pointer 0
push this 2
return
function Pill.getEaten 0
push argument 0
pop pointer 0
push this 3
return
