function Maze.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 100
call Array.new 1
pop this 0
push constant 100
call Array.new 1
pop this 1
push constant 100
call Array.new 1
pop this 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 100
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push local 0
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 1
add
push local 0
push argument 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 2
add
push local 0
push argument 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
call Array.dispose 1
pop temp 0
push argument 1
call Array.dispose 1
pop temp 0
push argument 2
call Array.dispose 1
pop temp 0
push pointer 0
call Maze.draw 1
pop temp 0
push pointer 0
return
function Maze.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push this 2
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Maze.draw 4
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 242
push constant 242
call Screen.drawRectangle 4
pop temp 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 10
lt
not
if-goto WHILE_END0
push constant 0
pop local 3
label WHILE_EXP1
push local 3
push constant 10
lt
not
if-goto WHILE_END1
push constant 1
push local 2
push constant 24
call Math.multiply 2
add
push constant 1
push local 3
push constant 24
call Math.multiply 2
add
push constant 22
call Square.new 3
pop local 0
push local 0
call Square.erase 1
pop temp 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 2
label WHILE_EXP2
push local 2
push constant 100
lt
not
if-goto WHILE_END2
push local 2
push this 2
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push this 0
add
pop pointer 1
push that 0
push constant 24
call Math.multiply 2
push constant 1
push local 2
push this 1
add
pop pointer 1
push that 0
push constant 24
call Math.multiply 2
add
push constant 22
push constant 1
call Line.new 4
pop local 1
goto IF_END0
label IF_FALSE0
push constant 1
push local 2
push this 0
add
pop pointer 1
push that 0
push constant 24
call Math.multiply 2
add
push local 2
push this 1
add
pop pointer 1
push that 0
push constant 24
call Math.multiply 2
push constant 22
push constant 0
call Line.new 4
pop local 1
label IF_END0
push local 1
call Line.erase 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push local 0
call Square.dispose 1
pop temp 0
push local 1
call Line.dispose 1
pop temp 0
push constant 0
return
function Maze.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 242
push constant 242
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Maze.validate 7
push argument 0
pop pointer 0
push argument 1
pop local 0
label WHILE_EXP0
push local 0
push argument 1
push argument 3
add
push constant 1
add
lt
not
if-goto WHILE_END0
push local 0
push local 0
push constant 24
call Math.divide 2
push constant 24
call Math.multiply 2
sub
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
pop local 1
label WHILE_EXP1
push local 1
push argument 2
push argument 4
add
push constant 1
add
lt
not
if-goto WHILE_END1
push local 1
push local 1
push constant 24
call Math.divide 2
push constant 24
call Math.multiply 2
sub
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 1
pop local 0
label WHILE_EXP2
push local 0
push argument 1
push argument 3
add
push constant 1
add
lt
not
if-goto WHILE_END2
push argument 2
pop local 1
label WHILE_EXP3
push local 1
push argument 2
push argument 4
add
push constant 1
add
lt
not
if-goto WHILE_END3
push local 0
push local 0
push constant 24
call Math.divide 2
push constant 24
call Math.multiply 2
sub
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop local 5
push local 0
push constant 24
call Math.divide 2
pop local 3
push local 1
push constant 24
call Math.divide 2
pop local 4
push constant 0
pop local 2
push constant 0
pop local 6
label WHILE_EXP4
push local 2
push constant 100
lt
not
if-goto WHILE_END4
push local 3
push local 2
push this 0
add
pop pointer 1
push that 0
eq
push local 4
push local 2
push this 1
add
pop pointer 1
push that 0
eq
and
push local 5
push local 2
push this 2
add
pop pointer 1
push that 0
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 6
label IF_FALSE3
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP4
label WHILE_END4
push local 6
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
label IF_FALSE2
push local 1
push local 1
push constant 24
call Math.divide 2
push constant 24
call Math.multiply 2
sub
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop local 5
push local 0
push constant 24
call Math.divide 2
pop local 3
push local 1
push constant 24
call Math.divide 2
pop local 4
push constant 0
pop local 2
push constant 0
pop local 6
label WHILE_EXP5
push local 2
push constant 100
lt
not
if-goto WHILE_END5
push local 3
push local 2
push this 0
add
pop pointer 1
push that 0
eq
push local 4
push local 2
push this 1
add
pop pointer 1
push that 0
eq
and
push local 5
push local 2
push this 2
add
pop pointer 1
push that 0
eq
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
not
pop local 6
label IF_FALSE6
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP5
label WHILE_END5
push local 6
not
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
return
label IF_FALSE7
label IF_FALSE5
push local 1
push argument 4
add
pop local 1
goto WHILE_EXP3
label WHILE_END3
push local 0
push argument 3
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
not
return
