function M4D.new 1
push constant 1
call Memory.alloc 1
pop pointer 0
push static 0
call Array.new 1
pop this 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 0
push constant 0
push constant 0
call Float.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call M4D.identity 1
pop temp 0
push pointer 0
return
function M4D.set 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push argument 1
call M4D.setI 3
pop temp 0
push pointer 0
push constant 1
push argument 2
call M4D.setI 3
pop temp 0
push pointer 0
push constant 2
push argument 3
call M4D.setI 3
pop temp 0
push pointer 0
push constant 3
push argument 4
call M4D.setI 3
pop temp 0
push pointer 0
push constant 4
push argument 5
call M4D.setI 3
pop temp 0
push pointer 0
push constant 5
push argument 6
call M4D.setI 3
pop temp 0
push pointer 0
push constant 6
push argument 7
call M4D.setI 3
pop temp 0
push pointer 0
push constant 7
push argument 8
call M4D.setI 3
pop temp 0
push pointer 0
push constant 8
push argument 9
call M4D.setI 3
pop temp 0
push pointer 0
push constant 9
push argument 10
call M4D.setI 3
pop temp 0
push pointer 0
push constant 10
push argument 11
call M4D.setI 3
pop temp 0
push pointer 0
push constant 11
push argument 12
call M4D.setI 3
pop temp 0
push constant 0
return
function M4D.setI 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
push argument 2
call Float.copy 2
pop temp 0
push constant 0
return
function M4D.getI 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function M4D.print 0
push argument 0
pop pointer 0
push pointer 0
call M4D.printM4D 1
pop temp 0
push constant 0
return
function M4D.dispose 2
push argument 0
pop pointer 0
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Float.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function M4D.init 0
push constant 12
pop static 0
push constant 0
return
function M4D.identity 2
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop local 0
call Float.getPos 0
push constant 1
push constant 0
call Float.new 3
pop local 1
push argument 0
push constant 0
push local 1
call M4D.setI 3
pop temp 0
push argument 0
push constant 1
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 2
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 3
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 4
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 5
push local 1
call M4D.setI 3
pop temp 0
push argument 0
push constant 6
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 7
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 8
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 9
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push constant 10
push local 1
call M4D.setI 3
pop temp 0
push argument 0
push constant 11
push local 0
call M4D.setI 3
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call Float.dispose 1
pop temp 0
push constant 0
return
function M4D.copy 1
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push argument 0
push local 0
push argument 1
push local 0
call M4D.getI 2
call M4D.setI 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function M4D.mul 7
call M4D.new 0
pop local 6
call Float.getPos 0
push constant 1
push constant 0
call Float.new 3
pop local 4
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop local 5
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 0
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 1
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 2
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 3
push local 0
push argument 1
push constant 0
call M4D.getI 2
push argument 2
push constant 0
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 1
call M4D.getI 2
push argument 2
push constant 4
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 2
call M4D.getI 2
push argument 2
push constant 8
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 3
push argument 1
push constant 3
call M4D.getI 2
push local 5
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 2
push local 2
push local 3
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 0
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 0
call M4D.getI 2
push argument 2
push constant 1
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 1
call M4D.getI 2
push argument 2
push constant 5
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 2
call M4D.getI 2
push argument 2
push constant 9
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 1
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 0
call M4D.getI 2
push argument 2
push constant 2
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 1
call M4D.getI 2
push argument 2
push constant 6
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 2
call M4D.getI 2
push argument 2
push constant 10
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 2
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 0
call M4D.getI 2
push argument 2
push constant 3
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 1
call M4D.getI 2
push argument 2
push constant 7
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 2
call M4D.getI 2
push argument 2
push constant 11
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 2
push local 2
push argument 1
push constant 3
call M4D.getI 2
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 3
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 4
call M4D.getI 2
push argument 2
push constant 0
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 5
call M4D.getI 2
push argument 2
push constant 4
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 6
call M4D.getI 2
push argument 2
push constant 8
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 4
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 4
call M4D.getI 2
push argument 2
push constant 1
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 5
call M4D.getI 2
push argument 2
push constant 5
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 6
call M4D.getI 2
push argument 2
push constant 9
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 5
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 4
call M4D.getI 2
push argument 2
push constant 2
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 5
call M4D.getI 2
push argument 2
push constant 6
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 6
call M4D.getI 2
push argument 2
push constant 10
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 6
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 4
call M4D.getI 2
push argument 2
push constant 3
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 5
call M4D.getI 2
push argument 2
push constant 7
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 6
call M4D.getI 2
push argument 2
push constant 11
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 2
push local 2
push argument 1
push constant 7
call M4D.getI 2
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 7
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 8
call M4D.getI 2
push argument 2
push constant 0
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 9
call M4D.getI 2
push argument 2
push constant 4
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 10
call M4D.getI 2
push argument 2
push constant 8
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 8
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 8
call M4D.getI 2
push argument 2
push constant 1
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 9
call M4D.getI 2
push argument 2
push constant 5
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 10
call M4D.getI 2
push argument 2
push constant 9
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 9
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 8
call M4D.getI 2
push argument 2
push constant 2
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 9
call M4D.getI 2
push argument 2
push constant 6
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 10
call M4D.getI 2
push argument 2
push constant 10
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 10
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 1
push constant 8
call M4D.getI 2
push argument 2
push constant 3
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 1
push constant 9
call M4D.getI 2
push argument 2
push constant 7
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 1
push constant 10
call M4D.getI 2
push argument 2
push constant 11
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 2
push local 2
push argument 1
push constant 11
call M4D.getI 2
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 6
push constant 11
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push local 6
call M4D.copy 2
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call Float.dispose 1
pop temp 0
push local 2
call Float.dispose 1
pop temp 0
push local 3
call Float.dispose 1
pop temp 0
push local 4
call Float.dispose 1
pop temp 0
push local 5
call Float.dispose 1
pop temp 0
push local 6
call M4D.dispose 1
pop temp 0
push constant 0
return
function M4D.mulV3D 4
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 0
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 1
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 2
push local 0
push local 0
push local 0
call V3D.new 3
pop local 3
push local 0
push argument 2
call V3D.getX 1
push argument 1
push constant 0
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 2
call V3D.getY 1
push argument 1
push constant 1
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 2
call V3D.getZ 1
push argument 1
push constant 2
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push local 2
push argument 1
push constant 3
call M4D.getI 2
call Float.add 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 3
push local 0
call V3D.setX 2
pop temp 0
push local 0
push argument 2
call V3D.getX 1
push argument 1
push constant 4
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 2
call V3D.getY 1
push argument 1
push constant 5
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 2
call V3D.getZ 1
push argument 1
push constant 6
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push local 2
push argument 1
push constant 7
call M4D.getI 2
call Float.add 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 3
push local 0
call V3D.setY 2
pop temp 0
push local 0
push argument 2
call V3D.getX 1
push argument 1
push constant 8
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 1
push argument 2
call V3D.getY 1
push argument 1
push constant 9
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push argument 2
call V3D.getZ 1
push argument 1
push constant 10
call M4D.getI 2
call Float.mul 3
pop temp 0
push local 2
push local 2
push argument 1
push constant 11
call M4D.getI 2
call Float.add 3
pop temp 0
push local 0
push local 0
push local 1
call Float.add 3
pop temp 0
push local 0
push local 0
push local 2
call Float.add 3
pop temp 0
push local 3
push local 0
call V3D.setZ 2
pop temp 0
push argument 0
push local 3
call V3D.copy 2
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call Float.dispose 1
pop temp 0
push local 2
call Float.dispose 1
pop temp 0
push local 3
call V3D.dispose 1
pop temp 0
push constant 0
return
function M4D.translate 1
call M4D.new 0
pop local 0
push local 0
push constant 3
push argument 2
call M4D.setI 3
pop temp 0
push local 0
push constant 7
push argument 3
call M4D.setI 3
pop temp 0
push local 0
push constant 11
push argument 4
call M4D.setI 3
pop temp 0
push argument 0
push local 0
push argument 1
call M4D.mul 3
pop temp 0
push local 0
call M4D.dispose 1
pop temp 0
push constant 0
return
function M4D.scale 1
call M4D.new 0
pop local 0
push local 0
push constant 0
push argument 2
call M4D.setI 3
pop temp 0
push local 0
push constant 5
push argument 3
call M4D.setI 3
pop temp 0
push local 0
push constant 10
push argument 4
call M4D.setI 3
pop temp 0
push argument 0
push local 0
push argument 1
call M4D.mul 3
pop temp 0
push local 0
call M4D.dispose 1
pop temp 0
push constant 0
return
function M4D.rotateX 2
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 0
call M4D.new 0
pop local 1
push local 0
push argument 2
call Float.cos 2
pop temp 0
push local 1
push constant 5
push local 0
call M4D.setI 3
pop temp 0
push local 1
push constant 10
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 2
call Float.sin 2
pop temp 0
push local 1
push constant 9
push local 0
call M4D.setI 3
pop temp 0
push local 0
push local 0
call Float.negate 2
pop temp 0
push local 1
push constant 6
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push local 1
push argument 1
call M4D.mul 3
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call M4D.dispose 1
pop temp 0
push constant 0
return
function M4D.rotateY 2
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 0
call M4D.new 0
pop local 1
push local 0
push argument 2
call Float.cos 2
pop temp 0
push local 1
push constant 0
push local 0
call M4D.setI 3
pop temp 0
push local 1
push constant 10
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 2
call Float.sin 2
pop temp 0
push local 1
push constant 2
push local 0
call M4D.setI 3
pop temp 0
push local 0
push local 0
call Float.negate 2
pop temp 0
push local 1
push constant 8
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push local 1
push argument 1
call M4D.mul 3
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call M4D.dispose 1
pop temp 0
push constant 0
return
function M4D.rotateZ 2
push constant 0
push constant 0
push constant 0
call Float.new 3
pop local 0
call M4D.new 0
pop local 1
push local 0
push argument 2
call Float.cos 2
pop temp 0
push local 1
push constant 0
push local 0
call M4D.setI 3
pop temp 0
push local 1
push constant 5
push local 0
call M4D.setI 3
pop temp 0
push local 0
push argument 2
call Float.sin 2
pop temp 0
push local 1
push constant 4
push local 0
call M4D.setI 3
pop temp 0
push local 0
push local 0
call Float.negate 2
pop temp 0
push local 1
push constant 1
push local 0
call M4D.setI 3
pop temp 0
push argument 0
push local 1
push argument 1
call M4D.mul 3
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call M4D.dispose 1
pop temp 0
push constant 0
return
function M4D.printM4D 3
push constant 0
pop local 0
push constant 4
pop local 1
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Output.println 0
pop temp 0
push constant 4
pop local 1
label IF_FALSE0
push local 1
push constant 1
sub
pop local 1
push argument 0
push local 0
call M4D.getI 2
pop local 2
push local 2
call Float.print 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Output.println 0
pop temp 0
push constant 36
call String.new 1
push constant 43
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
