function Main.toggleCam 0
push static 50
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 21
call Float.getPos 0
push constant 3
push constant 0
call Float.set 4
pop temp 0
push static 43
push static 21
call Cam3D.setPosY 2
pop temp 0
push static 21
call Float.getPos 0
push constant 12
push constant 1
call Float.set 4
pop temp 0
push static 22
call Float.getPos 0
push constant 2
push constant 1
call Float.set 4
pop temp 0
push static 43
push static 21
call Cam3D.setLens 2
pop temp 0
push static 43
push static 22
call Cam3D.setScale 2
pop temp 0
call Float.getNeg 0
push constant 1
push constant 2
neg
call Float.new 3
pop static 26
push constant 0
pop static 50
goto IF_END0
label IF_FALSE0
push static 21
call Float.getPos 0
push constant 0
push constant 0
call Float.set 4
pop temp 0
push static 43
push static 21
call Cam3D.setPosY 2
pop temp 0
push static 21
call Float.getPos 0
push constant 2
push constant 2
call Float.set 4
pop temp 0
push static 22
call Float.getPos 0
push constant 4
push constant 0
call Float.set 4
pop temp 0
push static 43
push static 21
call Cam3D.setLens 2
pop temp 0
push static 43
push static 22
call Cam3D.setScale 2
pop temp 0
call Float.getNeg 0
push constant 1570
push constant 0
call Float.new 3
pop static 26
push constant 0
not
pop static 50
label IF_END0
push constant 0
return
function Main.main 0
call Display.init 0
pop temp 0
call Float.init 0
pop temp 0
call V3D.init 0
pop temp 0
call M4D.init 0
pop temp 0
call Cam3D.init 0
pop temp 0
call Point.init 0
pop temp 0
push constant 30
call LineBuffer.new 1
pop static 19
push constant 0
pop static 49
push constant 2
call Array.new 1
pop static 18
push constant 0
push constant 0
call V2D.new 2
pop static 48
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop static 20
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop static 21
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop static 22
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop static 23
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop static 27
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop static 28
call Float.getPos 0
push constant 0
push constant 0
call Float.new 3
pop static 29
push static 20
push static 21
push static 22
call V3D.new 3
pop static 31
push static 20
push static 21
push static 22
call V3D.new 3
pop static 32
push static 20
push static 21
push static 22
call V3D.new 3
pop static 33
push static 20
push static 21
push static 22
call V3D.new 3
pop static 34
push static 20
push static 21
push static 22
call V3D.new 3
pop static 35
push static 20
push static 21
push static 22
call V3D.new 3
pop static 36
push static 20
push static 21
push static 22
call V3D.new 3
pop static 37
push static 20
push static 21
push static 22
call V3D.new 3
pop static 38
push static 20
push static 21
push static 22
call V3D.new 3
pop static 39
push static 20
push static 21
push static 22
call V3D.new 3
pop static 40
push static 20
push static 21
push static 22
call V3D.new 3
pop static 41
push constant 16
pop static 13
push static 13
call Array.new 1
pop static 15
push constant 4
call Array.new 1
pop static 16
call M4D.new 0
pop static 42
push constant 512
push constant 2
call Math.divide 2
push constant 256
push constant 2
call Math.divide 2
push constant 300
push constant 200
call Display.new 4
pop static 46
call Float.getPos 0
push constant 3
push constant 1
neg
call Float.new 3
pop static 24
call Float.getPos 0
push constant 3
push constant 0
call Float.new 3
pop static 25
push constant 0
push constant 0
call Point.new 2
pop static 44
push constant 0
push constant 0
call Point.new 2
pop static 45
call Cam3D.new 0
pop static 43
push static 20
call Float.getPos 0
push constant 5
push constant 0
call Float.set 4
pop temp 0
push static 21
call Float.getPos 0
push constant 0
push constant 1
call Float.set 4
pop temp 0
push static 22
call Float.getPos 0
push constant 5
push constant 0
call Float.set 4
pop temp 0
push static 43
push static 20
call Cam3D.setPosX 2
pop temp 0
push static 43
push static 21
call Cam3D.setPosY 2
pop temp 0
push static 43
push static 22
call Cam3D.setPosZ 2
pop temp 0
push static 20
call Float.getPos 0
push constant 0
push constant 0
call Float.set 4
pop temp 0
push static 43
push static 20
call Cam3D.setRotY 2
pop temp 0
push constant 0
not
pop static 50
call Main.toggleCam 0
pop temp 0
call Grid.new 0
pop static 47
push static 47
push constant 1
push constant 2
call Grid.setGoal 3
pop temp 0
call Float.getPos 0
push constant 1
push constant 1
call Float.new 3
pop static 30
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 50
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 42
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 42
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 45
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 42
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 48
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 59
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 56
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 36
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 39
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 38
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 72
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 42
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 0
not
pop static 0
label WHILE_EXP0
push static 0
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop static 3
push static 3
push constant 131
eq
push static 3
push constant 133
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 43
push static 31
call Cam3D.getNorm 2
pop temp 0
push static 20
push static 43
call Cam3D.getPosX 1
call Float.copy 2
pop temp 0
push static 22
push static 31
call V3D.getX 1
call Float.copy 2
pop temp 0
push static 22
push static 22
push static 25
call Float.mul 3
pop temp 0
push static 21
push static 43
call Cam3D.getPosZ 1
call Float.copy 2
pop temp 0
push static 23
push static 31
call V3D.getZ 1
call Float.copy 2
pop temp 0
push static 23
push static 23
push static 25
call Float.mul 3
pop temp 0
push static 3
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 22
push static 20
push static 22
call Float.add 3
pop temp 0
push static 23
push static 21
push static 23
call Float.add 3
pop temp 0
goto IF_END1
label IF_FALSE1
push static 22
push static 20
push static 22
call Float.sub 3
pop temp 0
push static 23
push static 21
push static 23
call Float.sub 3
pop temp 0
label IF_END1
push static 20
push static 20
push static 30
call Float.div 3
pop temp 0
push static 20
push constant 0
call Float.toInt 2
pop static 7
push static 21
push static 21
push static 30
call Float.div 3
pop temp 0
push static 21
push constant 0
call Float.toInt 2
pop static 9
push static 22
call Float.getSign 1
call Float.getNeg 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
pop static 4
goto IF_END2
label IF_FALSE2
push static 20
push static 22
push static 30
call Float.div 3
pop temp 0
push static 20
push constant 0
call Float.toInt 2
pop static 4
label IF_END2
push static 23
call Float.getSign 1
call Float.getNeg 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
pop static 5
goto IF_END3
label IF_FALSE3
push static 21
push static 23
push static 30
call Float.div 3
pop temp 0
push static 21
push constant 0
call Float.toInt 2
pop static 5
label IF_END3
push static 47
push static 7
push static 9
push static 4
push static 5
call Grid.canMove 5
pop static 1
push static 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push static 43
push static 22
call Cam3D.setPosX 2
pop temp 0
push static 43
push static 23
call Cam3D.setPosZ 2
pop temp 0
label IF_FALSE4
label IF_FALSE0
push static 3
push constant 130
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push static 20
push static 43
call Cam3D.getRotY 1
push static 24
call Float.add 3
pop temp 0
push static 20
push static 20
call Float.radianAlias 2
pop temp 0
push static 43
push static 20
call Cam3D.setRotY 2
pop temp 0
label IF_FALSE5
push static 3
push constant 132
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push static 20
push static 43
call Cam3D.getRotY 1
push static 24
call Float.sub 3
pop temp 0
push static 20
push static 20
call Float.radianAlias 2
pop temp 0
push static 43
push static 20
call Cam3D.setRotY 2
pop temp 0
label IF_FALSE6
push static 3
push constant 90
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
call Main.toggleCam 0
pop temp 0
label IF_FALSE7
push static 3
push constant 0
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push static 42
call M4D.identity 1
pop temp 0
push static 20
push static 43
call Cam3D.getPosX 1
call Float.negate 2
pop temp 0
push static 21
push static 43
call Cam3D.getPosY 1
call Float.negate 2
pop temp 0
push static 22
push static 43
call Cam3D.getPosZ 1
call Float.negate 2
pop temp 0
push static 42
push static 42
push static 20
push static 21
push static 22
call M4D.translate 5
pop temp 0
push static 20
push static 43
call Cam3D.getRotY 1
call Float.negate 2
pop temp 0
push static 42
push static 42
push static 20
call M4D.rotateY 3
pop temp 0
push static 42
push static 42
push static 26
call M4D.rotateX 3
pop temp 0
push static 20
push static 43
call Cam3D.getPosX 1
call Float.copy 2
pop temp 0
push static 20
push static 20
push static 30
call Float.div 3
pop temp 0
push static 20
push constant 0
call Float.toInt 2
pop static 7
push static 21
push static 43
call Cam3D.getPosZ 1
call Float.copy 2
pop temp 0
push static 21
push static 21
push static 30
call Float.div 3
pop temp 0
push static 21
push constant 0
call Float.toInt 2
pop static 9
push static 7
push static 47
call Grid.getGoalX 1
eq
push static 9
push static 47
call Grid.getGoalY 1
eq
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
pop static 0
label IF_FALSE9
push static 47
push static 18
push static 7
push static 9
call Grid.canSeeFrom 4
pop temp 0
push constant 0
push static 18
add
pop pointer 1
push that 0
pop static 14
push constant 1
push static 18
add
pop pointer 1
push that 0
pop static 17
push static 19
call LineBuffer.begin 1
pop temp 0
push constant 0
pop static 49
push constant 0
pop static 3
label WHILE_EXP1
push static 3
push static 14
lt
not
if-goto WHILE_END1
push static 3
push static 17
add
pop pointer 1
push that 0
pop static 48
push static 48
call V2D.getX 1
push constant 1
neg
eq
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push static 48
call V2D.getX 1
pop static 7
push static 48
call V2D.getY 1
pop static 9
call Main.renderCube 0
pop temp 0
label IF_FALSE10
push static 48
call V2D.dispose 1
pop temp 0
push static 3
push constant 1
add
pop static 3
goto WHILE_EXP1
label WHILE_END1
push static 17
call Array.dispose 1
pop temp 0
push static 19
call LineBuffer.end 1
pop temp 0
push static 46
push constant 0
call Display.clearScreen 2
pop temp 0
push static 46
push constant 1
call Display.drawBounding 2
pop temp 0
push static 19
push constant 1
call LineBuffer.drawLines 2
pop temp 0
push static 49
push static 46
push static 51
push static 52
call Display.inRange 3
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push static 51
push static 52
push constant 4
call Screen.drawCircle 3
pop temp 0
label IF_FALSE11
label IF_FALSE8
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop static 3
label WHILE_EXP2
push static 3
push constant 21
lt
not
if-goto WHILE_END2
push constant 17
call String.new 1
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push static 3
push constant 1
add
pop static 3
goto WHILE_EXP2
label WHILE_END2
push constant 24
call String.new 1
push constant 66
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 38
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 72
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Main.renderCube 1
push constant 0
pop local 0
push static 34
call V3D.getX 1
push static 7
call Float.toFloat 2
pop temp 0
push static 34
call V3D.getX 1
push static 34
call V3D.getX 1
push static 30
call Float.mul 3
pop temp 0
push static 34
call V3D.getZ 1
push static 9
call Float.toFloat 2
pop temp 0
push static 34
call V3D.getZ 1
push static 34
call V3D.getZ 1
push static 30
call Float.mul 3
pop temp 0
push static 34
call V3D.getY 1
call Float.getZero 1
pop temp 0
push static 35
push static 34
call V3D.copy 2
pop temp 0
push static 35
call V3D.getZ 1
push static 35
call V3D.getZ 1
push static 30
call Float.add 3
pop temp 0
push static 36
push static 35
call V3D.copy 2
pop temp 0
push static 36
call V3D.getX 1
push static 36
call V3D.getX 1
push static 30
call Float.add 3
pop temp 0
push static 37
push static 34
call V3D.copy 2
pop temp 0
push static 37
call V3D.getX 1
push static 37
call V3D.getX 1
push static 30
call Float.add 3
pop temp 0
push static 38
push static 34
call V3D.copy 2
pop temp 0
push static 38
call V3D.getY 1
push static 38
call V3D.getY 1
push static 30
call Float.add 3
pop temp 0
push static 39
push static 35
call V3D.copy 2
pop temp 0
push static 39
call V3D.getY 1
push static 39
call V3D.getY 1
push static 30
call Float.add 3
pop temp 0
push static 40
push static 36
call V3D.copy 2
pop temp 0
push static 40
call V3D.getY 1
push static 40
call V3D.getY 1
push static 30
call Float.add 3
pop temp 0
push static 41
push static 37
call V3D.copy 2
pop temp 0
push static 41
call V3D.getY 1
push static 41
call V3D.getY 1
push static 30
call Float.add 3
pop temp 0
push static 7
push static 47
call Grid.getGoalX 1
eq
push static 9
push static 47
call Grid.getGoalY 1
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
push static 20
call Float.getPos 0
push constant 5
push constant 1
neg
call Float.set 4
pop temp 0
push static 20
push static 20
push static 30
call Float.mul 3
pop temp 0
push static 32
push static 34
call V3D.copy 2
pop temp 0
push static 32
call V3D.getX 1
push static 32
call V3D.getX 1
push static 20
call Float.add 3
pop temp 0
push static 32
call V3D.getZ 1
push static 32
call V3D.getZ 1
push static 20
call Float.add 3
pop temp 0
push static 20
call Float.getPos 0
push constant 25
push constant 1
neg
call Float.set 4
pop temp 0
push static 20
push static 20
push static 30
call Float.mul 3
pop temp 0
push static 32
call V3D.getY 1
push static 32
call V3D.getY 1
push static 20
call Float.add 3
pop temp 0
push static 32
push static 42
push static 32
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 32
push static 43
call Display.getRender2DPoint 4
pop temp 0
push static 44
call Point.getX 1
pop static 51
push static 44
call Point.getY 1
pop static 52
label IF_FALSE0
push static 34
push static 42
push static 34
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 34
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 0
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 35
push static 42
push static 35
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 35
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 2
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 36
push static 42
push static 36
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 36
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 4
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 37
push static 42
push static 37
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 37
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 6
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 38
push static 42
push static 38
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 38
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 8
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 39
push static 42
push static 39
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 39
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 10
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 40
push static 42
push static 40
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 40
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 12
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 41
push static 42
push static 41
push static 43
call Display.V3Dto2D 4
pop temp 0
push static 46
push static 44
push static 41
push static 43
call Display.getRender2DPoint 4
pop temp 0
push constant 14
push static 15
add
push static 44
call Point.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 15
add
push static 44
call Point.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 47
push static 16
push static 7
push static 9
call Grid.getWalls 4
pop temp 0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop static 49
push static 44
push constant 0
push static 15
add
pop pointer 1
push that 0
push constant 1
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 4
push static 15
add
pop pointer 1
push that 0
push constant 5
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
push static 44
push constant 2
push static 15
add
pop pointer 1
push that 0
push constant 3
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 6
push static 15
add
pop pointer 1
push that 0
push constant 7
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE1
push constant 0
push static 16
add
pop pointer 1
push that 0
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 44
push constant 0
push static 15
add
pop pointer 1
push that 0
push constant 1
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 6
push static 15
add
pop pointer 1
push that 0
push constant 7
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
push static 44
push constant 8
push static 15
add
pop pointer 1
push that 0
push constant 9
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 14
push static 15
add
pop pointer 1
push that 0
push constant 15
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE2
push constant 1
push static 16
add
pop pointer 1
push that 0
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 44
push constant 6
push static 15
add
pop pointer 1
push that 0
push constant 7
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 4
push static 15
add
pop pointer 1
push that 0
push constant 5
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
push static 44
push constant 14
push static 15
add
pop pointer 1
push that 0
push constant 15
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 12
push static 15
add
pop pointer 1
push that 0
push constant 13
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE3
push constant 2
push static 16
add
pop pointer 1
push that 0
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push static 44
push constant 4
push static 15
add
pop pointer 1
push that 0
push constant 5
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 2
push static 15
add
pop pointer 1
push that 0
push constant 3
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
push static 44
push constant 12
push static 15
add
pop pointer 1
push that 0
push constant 13
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 10
push static 15
add
pop pointer 1
push that 0
push constant 11
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE4
push constant 3
push static 16
add
pop pointer 1
push that 0
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push static 44
push constant 2
push static 15
add
pop pointer 1
push that 0
push constant 3
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 0
push static 15
add
pop pointer 1
push that 0
push constant 1
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
push static 44
push constant 10
push static 15
add
pop pointer 1
push that 0
push constant 11
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 8
push static 15
add
pop pointer 1
push that 0
push constant 9
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE5
push constant 0
push static 16
add
pop pointer 1
push that 0
push constant 1
push static 16
add
pop pointer 1
push that 0
or
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push static 44
push constant 6
push static 15
add
pop pointer 1
push that 0
push constant 7
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 14
push static 15
add
pop pointer 1
push that 0
push constant 15
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE6
push constant 1
push static 16
add
pop pointer 1
push that 0
push constant 2
push static 16
add
pop pointer 1
push that 0
or
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push static 44
push constant 4
push static 15
add
pop pointer 1
push that 0
push constant 5
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 12
push static 15
add
pop pointer 1
push that 0
push constant 13
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE7
push constant 2
push static 16
add
pop pointer 1
push that 0
push constant 3
push static 16
add
pop pointer 1
push that 0
or
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push static 44
push constant 2
push static 15
add
pop pointer 1
push that 0
push constant 3
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 10
push static 15
add
pop pointer 1
push that 0
push constant 11
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE8
push constant 3
push static 16
add
pop pointer 1
push that 0
push constant 0
push static 16
add
pop pointer 1
push that 0
or
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push static 44
push constant 0
push static 15
add
pop pointer 1
push that 0
push constant 1
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 45
push constant 8
push static 15
add
pop pointer 1
push that 0
push constant 9
push static 15
add
pop pointer 1
push that 0
call Point.set 3
pop temp 0
push static 46
push static 19
push static 44
push static 45
call Display.renderLine 4
pop temp 0
label IF_FALSE9
push constant 0
return
