function Spells.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push constant 4
call Array.new 1
pop this 2
push constant 4
call Array.new 1
pop this 3
push constant 4
call Array.new 1
pop this 4
push constant 4
call Array.new 1
pop this 5
push constant 0
push this 2
add
push constant 10
call String.new 1
push constant 74
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 2
add
push constant 10
call String.new 1
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 119
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 2
add
push constant 10
call String.new 1
push constant 83
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 2
add
push constant 10
call String.new 1
push constant 72
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 3
add
push constant 10
call String.new 1
push constant 70
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 10
call String.new 1
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 97
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 10
call String.new 1
push constant 70
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 11
call String.new 1
push constant 70
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 4
add
push constant 10
call String.new 1
push constant 83
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 4
add
push constant 10
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 4
add
push constant 10
call String.new 1
push constant 66
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 4
add
push constant 10
call String.new 1
push constant 65
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 5
add
push constant 10
call String.new 1
push constant 72
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 5
add
push constant 10
call String.new 1
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 110
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 5
add
push constant 10
call String.new 1
push constant 65
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 5
add
push constant 12
call String.new 1
push constant 71
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop this 6
push constant 0
push this 6
add
push this 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 6
add
push this 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 6
add
push this 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 6
add
push this 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Spells.getSpellName 2
push argument 0
pop pointer 0
push constant 4
call Array.new 1
pop local 1
push argument 1
pop this 0
push this 0
push this 6
add
pop pointer 1
push that 0
pop local 1
push this 1
push local 1
add
pop pointer 1
push that 0
pop local 0
push local 1
call Array.dispose 1
pop temp 0
push local 0
return
function Spells.displaySpells 1
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 4
call Array.new 1
pop local 0
push this 0
push this 6
add
pop pointer 1
push that 0
pop local 0
push constant 11
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 0
push local 0
add
pop pointer 1
push that 0
call Output.printString 1
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 12
push constant 29
call Output.moveCursor 2
pop temp 0
push constant 16
push constant 15
call Output.moveCursor 2
pop temp 0
push constant 1
push local 0
add
pop pointer 1
push that 0
call Output.printString 1
pop temp 0
push constant 17
push constant 16
call Output.moveCursor 2
pop temp 0
push constant 17
push constant 17
call Output.moveCursor 2
pop temp 0
push constant 20
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 2
push local 0
add
pop pointer 1
push that 0
call Output.printString 1
pop temp 0
push constant 21
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 21
push constant 29
call Output.moveCursor 2
pop temp 0
push constant 16
push constant 36
call Output.moveCursor 2
pop temp 0
push constant 3
push local 0
add
pop pointer 1
push that 0
call Output.printString 1
pop temp 0
push constant 17
push constant 37
call Output.moveCursor 2
pop temp 0
push constant 17
push constant 38
call Output.moveCursor 2
pop temp 0
push constant 0
return
function Spells.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
