function Circle.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 3
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 4
push pointer 0
call Circle.draw 1
pop temp 0
push pointer 0
return
function Circle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Circle.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.set_slope 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Circle.getslope 0
push argument 0
pop pointer 0
push this 2
return
function Circle.switch_direction 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 3
push pointer 0
push constant 3
call Circle.set_slope 2
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 1
pop this 3
push pointer 0
push constant 1
call Circle.set_slope 2
pop temp 0
label IF_END0
push constant 0
return
function Circle.move 0
push argument 0
pop pointer 0
push pointer 0
call Circle.erase 1
pop temp 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 2
add
pop this 0
push this 1
push constant 2
push this 2
call Math.multiply 2
add
pop this 1
label IF_FALSE0
push this 3
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2
sub
pop this 0
push this 1
push constant 2
push this 2
call Math.multiply 2
add
pop this 1
label IF_FALSE1
push pointer 0
call Circle.draw 1
pop temp 0
push constant 0
return
function Circle.centerx 0
push argument 0
pop pointer 0
push this 0
return
function Circle.centery 0
push argument 0
pop pointer 0
push this 1
return
